.container{
    box-sizing: border-box;
    display: none;
    background-color: #F9F9F9;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    position: absolute;
    top: 20px;
    right: 50px;
}
.visible{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.button{
    box-sizing: border-box;
    padding: 4px;
    width: 100%;
    margin-bottom: 5px;
    margin: 0;
}
.button:hover{
    background-color: #e9e8e8;
    border-radius: 10px;
}
