.card{
    width: 283px;
    height: 156px;
    background-color: #8DD5D7;
    color: var(--white-color);
    border-radius: 20px;
}
.header{
    height: 50%;
    display: flex;
    position: relative;
}
.footer{
    height: 50%;
    position: relative;
}
.balance{
    position: absolute;
    top: 18px;
    left: 10px;
    font-size: 20px;

}

.card_number{
    position: absolute;
    bottom: 13px;
    right: 22px;
    font-size: 20px;
}