.content{
    padding: 61px 53px 0;
    height: 100%;
    /* max-height: 410px; */
}


.transaction{
    min-height: 43px;
    max-width: 600px;
    width: 100%;
}
.list{
    height: 430px;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    width: 800px;
}
.list::-webkit-scrollbar {
      width: 0;
      height: 0;
}
.text{
    color: var(--text-color);
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 7px;
}
.text-2{
    color: var(--text-color);
    font-size: 18px;
    margin-bottom: 7px;
}
.container{
    display: flex;
    
    align-items: center;
    position: relative;

}