:root {
  --primary-background: #F7F7F7;
  --white-color: #ffffff;
  --text-color: #000000;
  --primary-color: #92CCE0;
  --pop-up-color: #F9F9F9;
  --primary-color-hover: #006B90;
}

body{
  margin: 0;
  background-color: var(--primary-background);
}