:root {
  --primary-background: #F7F7F7;
  --white-color: #ffffff;
  --text-color: #000000;
  --primary-color: #92CCE0;
  --pop-up-color: #F9F9F9;
  --primary-color-hover: #006B90;

  margin: 0;
  padding: 0;

}

  

select{
    font-size: 16px;
    color: var(--text-color);
    box-shadow: 15px 20px 45px 0px #E9E9E940;
    border: 1px solid #EEEEEE;
    width: 340px;
    border-radius: 50px;
    padding: 10px 20px;
    margin-bottom: 10px;
}

body{
  display: flex;
  justify-content: center;
  margin-top: 100px;


}
button{
  background-color: transparent;
  border: none;
  cursor: pointer;
}